---
layout: archive
permalink: /
---

{{ content }}

<h3 class="archive__subtitle">Hi there!</h3>
I am a fourth-year Ph.D. student in economics at Cornell University, advised by <a href="https://molinari.economics.cornell.edu/">Francesca Molinari</a>. 
My research interests are in theoretical and applied econometrics, with a focus on identification problems for more credible causal inference and nonparametric estimation and inference for policy evaluation.
Before graduate school, I received my B.S. in math and economics from Tulane University.

_layouts/yiqi-cv.pdf

<p>CV: [<a href="https://github.com/yiqi-liu/yiqi-liu.github.io/blob/master/_layouts/yiqi-cv.pdf" class="image fit">yiqi-cv.pdf</a>]<br />
Email: <a href="mailto:yl3467@cornell.edu">yl3467@cornell.edu</a></p>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
