---
layout: archive
permalink: /
---

{{ content }}

<h3 class="archive__subtitle">Hi there!</h3>
I am a fourth-year Ph.D. student in Economics at Cornell University advised by <a href="https://molinari.economics.cornell.edu/">Francesca Molinari</a>. 
My research focuses on identification problems in causal inference and nonparametric estimation and inference for policy questions.
Before graduate school, I received my B.S. in Mathematics and Economics from Tulane University.

<p>Email: <a href="mailto:yl3467@cornell.edu">yl3467@cornell.edu</a>.</p>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
