---
layout: archive
classes: wide
permalink: /
---

{{ content }}

<h3 class="archive__subtitle">Hi there!</h3>
I'm a Postdoctoral Fellow at the Center of Mathematical Sciences and Applications and am also affiliated with the Department of Economics at Harvard University.

<p>My research is in econometrics, with a focus on identification problems for credible causal inference and nonparametric methods for policy evaluation. I received my Ph.D. in Economics from Cornell University in 2026 and will join the Department of Economics at the University of Maryland as an Assistant Professor in Fall 2027.
</p>

<p>I co-organize a <a href="https://cmsa.fas.harvard.edu/events-archive/category/colloquia-seminar/mathecon/list/?tribe-bar-date=2026-09-01">seminar series</a> on econometrics, statistics, and related fields at Harvard CMSA. Anyone interested is welcome to attend!
</p>

<p>CV: [<a href=https://yiqi-liu.github.io/assets/yiqi-cv.pdf>yiqi-cv</a>]<br />
Email: <a href="mailto:yiqi@cmsa.fas.harvard.edu">yiqi@cmsa.fas.harvard.edu</a></p>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
